<!doctype html>
<html lang="en">
<head>
	<title>Error!</title>
	<%- include('head') %>
</head>
<body>
	<%- include('header') %>
	<div class="content container">
	<center class="display-2">Big Error!</center>
	<center>
		<%- error %>
	</center>
	</div>
	<%- include('footer') %>
</body>
</html>
