<!doctype html>
<html lang="en">
<head>
	<title>PAMM Server</title>
	<%- include('head') %>
</head>
<body>
	<%- include('header') %>
	<div class="content container" style="margin-bottom:60px;">
		<h1 class="display-1">PAMM Server</h1>
		This is a PAMM server to host the mods list for the latest PAMM (post CMM shutdown). To upload a mod, login with github. If your mod was migrated from CMM, contact flubb
		on Discord @flubb#2865 or <a href="https://steamcommunity.com/id/flubbateios/">Steam</a> or the <a href="https://forums.uberent.com/members/flubbateios.1990656/">Uber forums</a> to get ownership back.
	</div>
	<%- include('footer') %>
</body>
</html>
